/* Hero page */
.homepage-hero {
  position: relative;
  background: transparent;
  font-family: "Poetsen One", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-video--wrap {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  position: relative;
}

video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
}
.hero-video--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 33;
}
.hero-text {
  color: #fffff0;
  opacity: 0.6;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  text-align: center;
  mix-blend-mode: screen;
}

.hero-btns {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  a {
    margin: 10px;
    color: #111111;
    text-decoration: none;
    background-color: #fffff04f;
    text-align: center;
    padding: 2px 18px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    mix-blend-mode: screen;
  }
  a:hover {
    color: #fffff0;
    background-color: #111;
  }
}

.hero-text-p {
  font-size: 2rem;
  color: #fff;
}

.tooltip-button a {
  text-decoration: none;
  color: rgba(148, 15, 15, 0.74);
  transition: all 0s ease-in-out;
}

.tooltip-button:hover {
  background-color: rgba(148, 15, 15, 0.74);
  content: "Hello";
}

.tooltip-button a:hover {
  color: #fff;
}
