/* App.css */

.tab-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tab-content-enter {
  opacity: 0;
}

.tab-content-enter-active {
  opacity: 1;
}

.tab-content-exit {
  opacity: 1;
}

.tab-content-exit-active {
  opacity: 0;
}
